name: git push into another repo to deploy to vercel

on:
  push:
    branches: [main]

jobs:
  build:
    if: github.repository == 'pinnol-seolyeon/frontend'
    runs-on: ubuntu-latest
    container: pandoc/latex
    steps:
      - uses: actions/checkout@v2
      - name: Install mustache (to update the date)
        run: apk add ruby && gem install mustache
      - name: creates output
        run: sh ./build.sh
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.JIMIN_GITHUB_KEY }}
        with:
          source-directory: 'output'
          destination-github-username: VIIXXV
          destination-repository-name: Finnol-frontend
          user-email: ${{ secrets.JIMIN_EMAIL }}
          commit-message: ${{ github.event.commits[0].message }}
          target-branch: main
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY
